<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Allenwebsite</servlet-name>
		<servlet-class>com.allen.website.AllenwebsiteServlet</servlet-class>
	</servlet>
	
	<servlet>
    	<servlet-name>StoreImage</servlet-name>
    	<servlet-class>com.allen.website.StoreImageServlet</servlet-class>
  	</servlet>
  	
  	<servlet>
    	<servlet-name>Signup</servlet-name>
    	<servlet-class>com.allen.website.SignupServlet</servlet-class>
  	</servlet>
  	
  	<servlet>
    	<servlet-name>Message</servlet-name>
    	<servlet-class>com.allen.website.MessageServlet</servlet-class>
  	</servlet>
  	
  	<servlet>
    	<servlet-name>Logon</servlet-name>
    	<servlet-class>com.allen.website.LogonServlet</servlet-class>
    	
  	</servlet>
  	  	<servlet>
    	<servlet-name>Logout</servlet-name>
    	<servlet-class>com.allen.website.LogoutServlet</servlet-class>
  	</servlet>
  	
  	<servlet>
    	<servlet-name>GetImage</servlet-name>
    	<servlet-class>com.allen.website.GetImageServlet</servlet-class>
 	</servlet>
 	 
 	<servlet>
    	<servlet-name>DelImage</servlet-name>
    	<servlet-class>com.allen.website.DeleteImageServlet</servlet-class>
 	</servlet>
 	
 	<servlet>
    	<servlet-name>GetImageList</servlet-name>
    	<servlet-class>com.allen.website.GetImageInfoServlet</servlet-class>
 	</servlet>
 	
 	<servlet-mapping>
    	<servlet-name>Signup</servlet-name>
    	<url-pattern>/user/signup</url-pattern>
  	</servlet-mapping>
 	
 	<servlet-mapping>
    	<servlet-name>Message</servlet-name>
    	<url-pattern>/message</url-pattern>
  	</servlet-mapping>
  	
 	<servlet-mapping>
    	<servlet-name>Logon</servlet-name>
    	<url-pattern>/user/logon</url-pattern>
  	</servlet-mapping>
  	
 	<servlet-mapping>
    	<servlet-name>Logout</servlet-name>
    	<url-pattern>/user/logout</url-pattern>
  	</servlet-mapping>
  	
 	<servlet-mapping>
    	<servlet-name>GetImageList</servlet-name>
    	<url-pattern>/getimagelist</url-pattern>
  	</servlet-mapping>
  	
  	<servlet-mapping>
    	<servlet-name>DelImage</servlet-name>
    	<url-pattern>/delimage</url-pattern>
  	</servlet-mapping>
  	
  	<servlet-mapping>
    	<servlet-name>StoreImage</servlet-name>
    	<url-pattern>/addImage</url-pattern>
  	</servlet-mapping>
  	
  	
  	<servlet-mapping>
    	<servlet-name>GetImage</servlet-name>
    	<url-pattern>/getImage</url-pattern>
  	</servlet-mapping>
	
	
	<servlet-mapping>
		<servlet-name>Allenwebsite</servlet-name>
		<url-pattern>/allenwebsite</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
